@import "bootstrap";
.left-column {
    width: 60%;
    position: relative;
  }
   
  .right-column {
    width: 40%;
    margin-top: 60px;
  }

  .container1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
  }

  .img1 {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.3s ease;
  }


  .size span {
    font-size: 11px;
  }
  
  .color span {
    font-size: 11px;
  }
  
  .product-deta {
    margin-right: 70px;
  }
  
  .gift-card:focus {
    box-shadow: none;
  }
  
  .pay-button {
    color: #fff;
  }
  
  .pay-button:hover {
    color: #fff;
  }
  
  .pay-button:focus {
    color: #fff;
    box-shadow: none;
  }
  
  .text-grey {
    color: #a39f9f;
  }
  
  .qty i {
    font-size: 11px;
  }
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
